@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@font-face {
  font-family: RingBearer;
  src: url("./assets/fonts/RingbearerMedium.ttf");
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
/*
                            Main
*/



/* Desplegable */
aside {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(105%);
  transition: all 0.3s ease-in-out;
  height: 100vh;
  width: 100vw;
  box-shadow: -7px 5px 7px -1px rgba(0, 0, 0, 0.63);
  overflow: visible;
}
/*Tamaño del desplegable ancho*/
@media (min-width: 1000px) {
  aside {
    width: 40vw;
  }
}
/*Fondo del desplegable con images que van cambiando*/
.background{
  position: fixed;
  z-index: 999;
  animation: changeBackground 32s infinite;
  background-image: url('imagen1.jpg');
  background-size: cover;
}
/*El movimiento del desplegable*/
aside.active {
  transform: translateX(0%);
}
aside.active #close-btn {
  transform: translateX(0%);
}
/*Botón cerrar desplegable*/
aside #close-btn {
  text-decoration: none;
  color: black;
  position: absolute;
  top: 0.6rem;
  right: 1rem;
  width: 3rem;
  opacity: 1;
  background: #575b5e;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.63);
  border-radius: 100%;
  padding: 0.5rem;
  z-index: 500;
  display: flex;
  justify-content: center;
}
/*Posición del botón de cierre y transición de cierre*/
@media (min-width: 1000px) {
  aside #close-btn {
    left: -1.5rem;
    transform: translateX(100%);
    transition: all 0.1s linear;
  }
}
aside #close-btn:hover {
  text-decoration: underline;
  opacity: 0.9;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.63);
}
/*Tamaño del título , sombra , posición. animación de luz*/
aside #main-title {
  font-size: 1.8rem;
  margin: 2rem 0 1rem 0;
  font-family: RingBearer, serif;
  text-align: center;
  text-shadow: -3px 4px 7px rgba(81, 67, 21, 0.8);
  animation: glowing 4s infinite;
  
}
/*Posición del título del aside*/
aside #site-description {
  text-align: center;
}
/*Tamaño del desplegable largo*/
aside #filters {
  padding: 1rem 2rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height:100%;
}
/*Tamaño letras puntos de interes dentro del recuadro , posición , margenes, sombra del recuadro*/
aside #filters fieldset {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: center;
  padding: 0.6rem 2rem;
  gap: 0.5rem 1rem;
  border: 0;
  background-color: #575b5e;
  box-shadow: -5px 3px 7px -1px rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  color: white;
}
/*Tamaño de las letras del título de cada apartado*/
aside #filters fieldset legend {
  font-size: 1.5rem;
  margin-right: 2rem;
  font-weight: bold;
  padding: 0 1rem;
  font-family: RingBearer;
  color: white;
}

.modal-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;  
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
  z-index: 900;
}
.show {
  pointer-events: auto;
  opacity: 1;
  z-index: 900;
}

.modal {
  background-color: #fff;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 900;
}

.modal h1 {
  margin: 0;
}

.modal p {
  opacity: 0.7;
  font-size: 14px;
}
/*Botón para abrir desplegable*/
#open-btn {
  position: absolute;
  top: 0;
  right: 0.5rem;
  z-index: 410;
  width: 3rem;
}
#open-btn:hover {
  opacity: 0.7;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
/*Botón para activar y desactivar las imagenoverlay*/
#view-img {
  position: absolute;
  top: 0;
  right: 3.4rem;
  z-index: 410;
  width: 3.3rem;
}
#view-img:hover {
  opacity: 0.7;
}
#view-layer {
  position: absolute;
  top: 0;
  right: 6.4rem;
  z-index: 410;
  width: 3.3rem;
}
#view-layer:hover {
  opacity: 0.7;
}
#inicial-point {
  position: absolute;
  top: 0;
  right: 3.5rem;
  z-index: 410;
  width: 2.8rem;
}
#inicial-point:hover {
  opacity: 0.7;
}
/*Quito el recuadro del checkbox*/
.iconaside{
  width:30px;
}
#all-quests{
  display: none;
}
#erebor-quest{
  display: none;
}
#ring-quest{
  display: none;
}
#caos-quest{
  display: none;
}
#all-places{
  display: none;
}
#human-places{
  display: none;
}
#elven-places{
  display: none;
}
#dwarven-places{
  display: none;
}
#hobbit-places{
  display: none;
}
#dark-places{
  display: none;
}
#ogre-places{
  display: none;
}
#elfhel-places{
  display: none;
}
#all-events{
  display: none;
}
#battle-events{
  display: none;
}
#death-events{
  display: none;
}
#encounter-events{
  display: none;
}
#caos-spawn{
  display: none;
}
#elfhel-spawn{
  display: none;
}
#human-spawn{
  display: none;
}
#reiklan-humans{
  display: none;
}
.custom-add{
  width: 45px;
  background-color: transparent;
  border: none;
}
.warhammer{
  width: 50px;
}
/*Footer*/
aside footer {
  margin-top: auto;
  text-align: center;
  padding-top: 2rem;
}
/*Por debajo del footer*/
aside footer .credits {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
/*Tamaño del popup que trae leaflet, afecta de manera general a todos los popup, a no ser que el popup tenga una clase que le afecte específicamente*/
.leaflet-popup {
  width: 90vw;
  max-width: 30rem;
  z-index: 420;
}
/*Color del popup leaflet*/
.leaflet-popup .leaflet-popup-content-wrapper {
  background: #F9F4ED;
}
.leaflet-popup .leaflet-popup-close-button {
  margin: 1rem 2rem;
}
.leaflet-popup .leaflet-popup-close-button span {
  font-size: 2rem;
}
.leaflet-popup .leaflet-popup-close-button:hover {
  text-decoration: underline;
}
.leaflet-popup .leaflet-popup-content {
  padding: 1rem;
  width: auto !important;
}
@media (min-width: 1000px) {
  .leaflet-popup .leaflet-popup-content {
    padding: 1rem 2rem;
  }
}
/*Se aplica a la etiqueta title*/
.leaflet-popup .title {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #cecece;
  padding-bottom: 1rem;
}
/*Se aplica a la etiqueta description*/
.leaflet-popup .description {
  font-size: 1rem;
  line-height: 1.4rem;
}
/*Se aplica a la etiquete img*/
.leaflet-popup .img{
  width: 50px;
}
/*Posición del cuadro del enlace*/
.leaflet-popup .info-link-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
/*El cuadro del enlace*/
.leaflet-popup a.info-link {
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.78);
  padding: 0.6rem;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 1rem;
}
/*Hover del cuadro del enlace*/
.leaflet-popup a.info-link:hover {
  opacity: 0.9;
  color: aliceblue;
  text-decoration: underline;
}
/*Container del mapa y color. Tamaño del mapa*/
main.leaflet-container {
  height: 100vw;
  width: 100vw;
  position: relative;
  background: rgb(32, 32, 32);
  font-family: "Lora", serif;
}
/* Tamaño real del mapa en px*/
/* #map{
  width:5000px ;
  height:4344px ;
} */
/*Tamaño de los iconos*/
.leaflet-marker-icon {
  width: 1.8rem !important;
  height: 1.8rem !important;
}
.leaflet-marker-icon:hover {
  opacity: 0.7 !important;
}
/*Cluster color , tamaño, border-radius*/
.marker-cluster {
  background: transparent !important;
}
.marker-cluster div {
  background-color: rgb(68, 171, 12) !important;
  width: 100% !important;
  height: 100% !important;
  border-radius: 100% !important;
}
.marker-cluster div span {
  font-family: "Lora", serif;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.7rem;
}
/*Aquí controlo el body de la página*/
html, body {
  /* width: 100vw;
  height: 100vh; */
  /* Pone le mapa en el centro*/
  /* top: 50%; 
  left: 50%;  */
  font-size: 20px;
  font-family: "Lora", serif;
  overflow: hidden;
  
}
/* header{
  z-index:999;
  background-color: #000000;
}
footer{
  z-index: ;
} */


/*Pantalla de carga*/
#loader-screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1001;
  /* background: #F9F4ED; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s linear;
  flex-direction: column;
  padding: 2rem;
}

#loader-screen h1 {
  text-shadow: -3px 4px 7px rgba(81, 67, 21, 0.8);
  font-family: "RingBearer", serif;
  font-size: 3rem;
  margin-bottom: 5rem;
  text-align: center;
}

@media (min-width: 1000px) {
  #loader-screen h1 {
    font-size: 5rem;
  }
}
/*Animación de carga del anillo posición y tamaño*/
#loader-screen #lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
/*Vídeo*/
#loader-screen video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}
/*Animación de carga del anillo*/
#loader-screen #lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #000000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000000 transparent transparent transparent;
}

#loader-screen #lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

#loader-screen #lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

#loader-screen #lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
/*Nav*/
.navTitle{
  animation: glowing 4s infinite;
}
.image-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.button-text {
  display: block;
  margin-top: 5px;
}
/*Keyframes lo uso para definir los fotogramas de una animación*/
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes changeBackground {
  0% { background-image: url('/assets/images/background/imagen1.jpg'); }
  12.5% { background-image: url('/assets/images/background/imagen2.png'); }
  25% { background-image: url('/assets/images/background/imagen3.jpg'); }
  37.5% { background-image: url('/assets/images/background/imagen4.jpg'); }
  50% { background-image: url('/assets/images/background/imagen5.jpg'); }
  62.5% { background-image: url('/assets/images/background/imagen6.jpg'); }
  75% { background-image: url('/assets/images/background/imagen7.jpg'); }
  87.5% { background-image: url('/assets/images/background/imagen8.webp'); }
  100% { background-image: url('/assets/images/background/imagen1.jpg'); }
}
@keyframes glowing {
  0% {
    text-shadow: 0 0 5px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff4400, 0 0 70px #ff8800, 0 0 80px #ffcc00, 0 0 100px #ffff00, 0 0 150px #ffff00;
  }
  50% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 0 5px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff4400, 0 0 70px #ff8800, 0 0 80px #ffcc00, 0 0 100px #ffff00, 0 0 150px #ffff00;
  }
}
@keyframes blink {
  0% {
    border-color: blue;
    box-shadow: 0 0 0 0 white;
  }
  50% {
    border-color: blue;
    box-shadow: 0 0 0 5px white;
  }
  100% {
    border-color: blue;
    box-shadow: 0 0 0 0 white;
  }
}

/*Cuador azul para las imagenes que genero en la función createImages*/

.blue-border {
  border: 2px solid blue;
  animation: blink 2s infinite;
}

/*
                    Login
*/
.backgroundLogin{
  position: fixed;
  z-index: 999;
  /*Si quiero añadir la animación de las imagenes pongo esto*/
  animation: changeBackground 32s infinite;
  background-image: url('imagen1.jpg');
  background-size: cover;
}
/*Para el vídeo de fondo en el login*/
#backgroundVideo {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	object-fit: cover;
}
.link {
  color: #c4c3ca;
}
.link:hover {
  color: #ffeba7;
}
h4 {
  font-weight: 600;
}
h6 span{
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}
.section{
  position: relative;
  width: 100%;
  display: block;
}
.full-height{
  min-height: 100vh;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #ffeba7;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before{
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #ffeba7;
  background-color: #102770;
  font-family: 'unicons';
  content: '\eb4f';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}
.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}


.card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}
.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position:absolute;    
  top: 0;
  left: 0;  
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out; 
}
.card-front, .card-back {
  width: 100%;
  height: 100%;
  background-color: #2a2b38;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg);
}
.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
.center-wrap{
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}


.form-group{ 
  position: relative;
  display: block;
    margin: 0;
    padding: 0;
}
.form-style {
  padding: 13px 20px;
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #c4c3ca;
  background-color: #1f2029;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.input-icon {
  position: absolute;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color: #ffeba7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:-ms-input-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-moz-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:-moz-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-webkit-input-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-ms-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-webkit-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.btn{  
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition : all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #ffeba7;
  color: #102770;
  box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}
.btn:active,
.btn:focus{  
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.btn:hover{  
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.logo {
	position: absolute;
	top: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
}
.colorw{
  color: white;
}